body {
  font: 16px "Century Gothic", sans-serif;
  margin: 10px;
}

.lobby {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.board {
  width: 400px;
  margin: auto;
  border-style: double;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}