body {
  font: 16px "Century Gothic", sans-serif;
  margin: 10px;
}

.lobby {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: auto;
  min-height: 15vh;
}

.create-button {
  margin-right: 5px;
  width: 4.5em;
  height: 2.0em;
}

.join-button {
  width: 4.5em;
  height: 2.0em;
}

.board {
  width: 500px;
  margin: auto;
  border-style: double;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

/* 
ol, ul {
  padding-left: 30px;
}

p {  
  display: block;
  margin-block-start: 0.7em;
  margin-block-end: 0.7em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}



.status-info {
  margin-left: 20px;
  color: rgb(208,33,41);
}

.title {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: rgb(208,33,41);
}

.button-container {
  margin-left: 1em;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 54px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 54px;
}

.blacksquare {
  background: #000;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 54px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 54px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.scores-container {
  margin-right: 10em;
  color: rgb(208,33,41);
}

.input-class{
  margin-top: -0.1em;
}

.title-class {
  font-size: 1.5rem; 
}

.popup-class{
  height: 165px; 
}

.join-button-class {
  margin: .3125em; 
  padding: .5em 1.8em; 
  margin-bottom: 1em; 
}

.button-class {
  margin: .3125em; 
  padding: .5em 1.8em; 
}


.door {
  background: #00f;
  border: 1px solid #000;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 200px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
} */
